
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- 公共页面头 -->
<head>
 
 












<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


	
	
	
		<meta name="keywords" content="肯德基,肯德基宅急送,肯德基优惠,肯德基优惠券,肯德基优惠券手机版,肯德基电子优惠券,肯德基菜单,网上订餐,订餐网,送餐网,点餐,外送"/>
		<meta name="description" content="肯德基宅急送官网提供网上外卖订餐,网上送餐,在线点餐服务.肯德基网上订餐可享早餐优惠,午餐超值套餐,晚餐套餐等KFC优惠活动!肯德基24小时外卖送餐电话:4008823823."/>
		<title>肯德基宅急送外卖网上订餐官网-KFC优惠套餐-外送菜单-送餐网</title>
	


<!-- 加载CSS -->


<script type="text/javascript">
	var requestContextPath = 'http://www.tp5.com/kfcios';
	// https Start
	var requestContextPathHttps = 'https://www.tp5.com/kfcios';
	var appHtmlPath = 'http://www.tp5.com/kfcios/Html';
	var httpHtmlPathHttps = 'https://www.tp5.com/kfcios/Html'; 
	// https End
	var httpHtmlPath = 'http://www.tp5.com/kfcios/Html'; 
	var httpResourcePath = 'http://res.4008823823.com.cn/kfcios/Html';
	var locale = 'zh_CN';
	var httpVersionPath = "";
	var code= 'http://res.4008823823.com.cn/kfcios/Html/code.jsp';
	/* 记住我功能的有效期（天） */
	var keep = 7;
	var riskControlKey = "true";
	var riskControlRequestUrl = "https://fp.hwwt8.com/fingerprint/browser";
</script>	
<link rel="stylesheet" type="text/css" href="../../../../public/static/index/Css/style.css">
<link rel="stylesheet" type="text/css" href="../../../../public/static/index/Css/jquery-ui.css"/>
<!-- 加载JS -->
<script type="text/javascript" src="../../../../public/static/index/Scripts/jquery.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/jquery.lazyload.js"></script>


<script type="text/javascript" src="../../../../public/static/index/Scripts/jquery.ui.yumdialog.js"></script>



<script type="text/javascript" src="../../../../public/static/index/Scripts/property_cn.js"></script>

<script type="text/javascript" src="../../../../public/static/index/Scripts/base.js"></script>

<script type="text/javascript" src="../../../../public/static/index/Scripts/sdc_kfc.js"></script>
<!-- kfc_ios add js wanglei4 20150528  start-->
<script type="text/javascript" src="../../../../public/static/index/Scripts/pagetourl.js"></script>
<!--  kfc_ios add js wanglei4 20150528  end -->



<!-- add by LXJ 2013-3-2 start -->
<script type="text/javascript" src="../../../../public/static/index/Scripts/login.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/pagetourl.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/uuid.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/jquery.md5.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/fingerprint.js"></script>
<script src="../../../../public/static/index/Scripts/gt.js"></script>
<!-- add by LXJ 2013-3-2 end -->
<script type="text/javascript">

	function formatRqTip(val){
		var str = val.substr(0,5);
		return str.replace(":","");
	}
	var rqTip = formatRqTip(requestContextPathHttps) + ":";
	var isHttps = rqTip == document.location.protocol ? true : false;
	
		if(!isHttps){
		var checkFlag = '';
		var toPage = '';
		if(toPage == ""){
			toPage = "pointCenter";
		}
		if(checkFlag == 2){
			window.location.href = requestContextPathHttps +'/orderLogin.action?checkFlag='+checkFlag+'&toPage='+toPage;
			
		}else{
			window.location.href = requestContextPathHttps +'/orderLogin.action';
		}

	}
	$(document).ready(function(){
		if(typeof riskControlKey !== "undefined" && riskControlKey){
			window.brower_id = window.GuanAnFingerBaseInfo.generateUUID();
			new Fingerprint2().get(function(result, components) {
				GuanAnFingerBaseInfo.picking('https://fp.hwwt8.com/fingerprint/browser',window.brower_id, result);
			});
		}
		base.initNav("http://www.tp5.com/kfcios");
		login.init();
		pageInfo('review0');
		pageInfo('review1');
		pageInfo('rewiew3');
	});
</script>
</head>
<body>
<form id="mainForm" name="myForm" action="" method="post">
		<!-- 导航栏 -->
       <div id="top">
	<input type="hidden" id="page_flag" value=""/>
	<input type="hidden" id="seoPath" value="http://www.tp5.com/kfcios"/>
	<input type="hidden" value="" id="topFlag" name="topFlag"/>
	
	<a href="http://www.tp5.com/kfcios/Html/index.html"><div class="logo"></div></a>
		<div class="top_menu">
		<div class="top_menu_1">			
			<input type="hidden" id="isLogin" value="false"> 
					<span class="span_1 fl_l" id="logout" style=""> 欢迎网上订餐！<!-- <i class="login">请登录</i> -->
					</span>
				<div class="fl_r">
				<span class="span_2 favbtn">
					<a href="javascript:;">收藏本订餐网站</a>
				</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="top_menu_2">
			<ul>
				<li class="w1"><span  >
					<a href="https://www.tp5.com/kfcios/Html/index.html">首页</a>
						</span>
				</li>
				<li class="w2"><span  >开始订餐</span></li>
						<li class="w3"><span  >个人中心</span></li>
					<li class="w4"><span  >
					<a href="http://www.tp5.com/kfcios/Html/appIndex.html" >手机订餐APP</a>
						</span></li>
				<li class="last_li w5" >
					<a href="http://www.tp5.com/kfcios/jsp/help/help_new.html" target="_blank" >帮助中心</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
      
        <!-- 内容页面 -->
        
        <div id="content">
        	<!-- 在线客服 -->
		    
<!-- 在线客服 -->
<div id="chatContent">
	<div id="chatOnline">
		<div id="chatOn_support"></div>
		<div id="chatOn_close"></div>
	</div>
	<div id="chatOffline">
		<div id="chatOfflineBtn">
			<div id="chatOff_support"></div>
			<div id="chatOff_close"></div>
		</div>
		<div id="chatOfflineTip"></div>
	</div>
</div>
			<div class="login_content">
			<input type="hidden" id="checkFlag" name="checkFlag" value=""/>
			<input type="hidden" id="toPage" name="toPage" value=""/>
	        <input type="hidden" name="token_for_request" value=""/>
	        <input type="hidden" id="displayUserAgreement" name="displayUserAgreement" value=""/>
			<ul>
	        	<li>
	            	<span class="Loginbox Loginboxbg01">
	            		 <input name="mobi" id="mobi" type="text" class="loinput_text" value='请输入手机号' maxlength="50"/>
	            	</span>
	            </li>
	            <li id="showPwd" style="display:none;">
	            	<span class="Loginbox Loginboxbg03" style="display:none;">
	            	 	<input name="password" type="password" class="loinput_text" id = "password" />
	            	</span>
	            	<span class="Loginbox Loginboxbg03" style="display:none;">
	            	 	<input type="text" class="loinput_text" id = "password_text" value='请输入密码' />
	            	</span>
	            </li>
	            <li id="showVerifyCode" style="display:none">
						<div class="validate_user_line">
							<div class="validate_user_value">
								<input id="validate_user_smscode" class="validate_user_input validate_user_smscode" />
								<div class="validate_btn" id="sendPointSmscode">发送验证码</div>
							</div>
						</div>
	            </li>
	            <li>
	            	<span class="Loginother">
	                	<span class="me"><a href="javascript:void(0)" >记住我</a></span>
	                    <span class="wangji" style="display:none"><a href="javascript:void(0)">忘记密码？</a></span>
	            	</span>
	            </li>
	        </ul>
	        <input type="button" id="loginSubmit" class="layerorder_btn" />
	        <div class="lotishi">友情提示：
	        	<br>
	        	<span>如果您曾使用我们的订餐服务，请输入您上次使用的手机号码。</span>
	        </div>
	        <div class="xuzhi">
	        	<p>订单须知</p>
	            <p>1)产品和包装以实物为准，产品均加强检测，请放心食用；</p>
	            <p>2)为保证食物质量，肯德基宅急送设有送餐范围。若您的送餐地址超出送餐范围无法送餐，敬请谅解！建议您就近选择肯德基餐厅用餐；</p>
	            <p>3)订餐时间：10:00-22:00。部分地区已开通24小时送餐服务，详情请致电4008-823-823查询；</p>
	            <p>4)不设最低消费，每单收取统一外送费，谢绝小费。</p>
	            <p>5)如遭遇不可抗力因素，肯德基宅急送将暂时不提供相关服务，敬请谅解！</p>
	        </div>
		</div>
		</div>
       <!-- 页面脚 -->
		







<!-- 弹出层 -->
<!-- 
<div id="dialog-message" title="友情提示" closeBtn="false" style="display: none;">
	<span></span>
</div>
 -->

<!-- alert 弹出层 -->
<div id="dialog-message-alert" title="友情提示" closeBtn="true" style="display: none;">
	<span></span>
</div>

<!-- dialog-bind-phone 弹出层 -->
<div id="dialog-bind-phone" title="友情提示" closeBtn="true" style="display: none;">
	<span></span>
</div>

<!-- confirm 弹出层 -->
<div id="dialog-message-confirm" title="友情提示" closeBtn="true" style="display: none;">
	<span></span>
</div>

	<!-- alert_back 弹出层 -->
<div id="dialog-message-alert-back" title="友情提示" closeBtn="true" style="display: none;">
	<span></span>
</div>



<script type="text/javascript">
</script>
<!--footer start-->
<div id="footer">
  <div class="fl_l">
    <ul>
      <li style="padding-left:0px;" class="bg">
      	<a href="http://www.tp5.com/kfcios/jsp/law/law.html" target="_blank" >法律条款</a>
      </li>
      <li class="bg">
      	<a href="http://www.tp5.com/kfcios/jsp/policy/policy.html" target="_blank">隐私条款</a>
      </li>
      <li class="bg">
      	<a href="http://www.tp5.com/kfcios/Html/managementPublicity.html" target="_blank">经营公示</a>
      </li>
      <li class="bg"><a href="http://www.kfc.com.cn/service/" target="_blank">联系我们</a></li>
     
     
      
     	 <li class="bg"><a href="http://www.yumcareers.cn/" target="_blank">加入我们</a></li>
      <li class="noBg"><a href="https://www.sgs.gov.cn/notice/notice/view?uuid=nfc_corvFBzG6cj4ew561PwrNJZhkgeV&tab=01" target="_blank">经营性网站备案信息</a></li>
     
     
      <li class="last_li noBg">版权所有 百胜咨询（上海）有限公司</li>
      <li class="record_li" ><a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备 17029211-1号</a></li>
    </ul>
  </div>
  <div class="fl_r">
    <select  class="brand" id="select" onchange="if(this.value)window.open(this.value);">
      <option value="">欢迎访问百胜餐饮其他品牌</option>
      <option value="http://www.yum.com.cn/"><a href="http://www.yum.com.cn/" target="_blank" rel=”nofollow”>中国百胜</a></option>
      <option value="http://www.kfc.com.cn/"><a href="http://www.kfc.com.cn/" target="_blank" rel=”nofollow”>中国肯德基</a></option>
      <option value="http://www.pizzahut.com.cn/"><a href="http://www.pizzahut.com.cn/" target="_blank" rel=”nofollow”>中国必胜客</a></option>
      <option value="http://www.4008123123.com/"><a href="http://www.4008123123.com/" target="_blank">必胜客宅急送</a></option>
      <option value="http://www.dfjb.com.cn/"><a href="http://www.dfjb.com.cn/" target="_blank" rel=”nofollow”>东方既白</a></option>
      <option value="http://m.4008823823.com.cn/"><a href="http://m.4008823823.com.cn/" target="_blank">肯德基宅急送移动版</a></option>
    </select>
  </div>
  <div class="clear"></div>
 </div>
<script type="text/javascript" src="../../../../public/static/index/Scripts/chatservice.js"></script>
<script type="text/javascript" src="../../../../public/static/index/Scripts/dspcommon.js"></script>
<!-- 加载定制CSS -->

	<link rel="stylesheet" type="text/css" href="../../../../public/static/index/Css/default.css"/>

		<!-- 弹出层 -->
		<div id="dialog-message" title="友情提示" closeBtn="false" style="display: none;">
			<span></span>
		</div>
		<div id="popup-captcha"></div>
	</form> 
</body>
</html>
<script type="text/javascript" src="../../../../public/static/index/Scripts/rc.fp.js"></script>